body{
  background-color: #fff;
  font-family: georgia;
}
h3 {
  color:#ccc;;
}
img{
  border-radius:50%;
  z-index: 100;
}
h2{
  color:#f6f31d;
  text-shadow: 0 8px #2d1f0f;
}
.zaglavlje{
  background: linear-gradient(#ada7b1,#43535a);
  border-radius: 25px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}
.telo{
  display:flex;
  color: #fff;
  text-align: justify;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  margin-top: 80px;
}
.row1{
  background-color: #ccc;
  padding:18px;
  border-radius:25px;
  margin:20px;
}
.row1 h3{
  color: grey;
}
.row2{
  background-color:grey;
  padding:18px;
  border-radius:25px;
  margin:20px;
}

.potpis{
  text-align:right;
  color:#f6f31d;
}
b,a{
  color: #f6f31d;

}
