body{
  background-color: #fff;
  font-family: arial;
}
h3 {
  color:#ffffff;
}
.zaglavlje{
  background: linear-gradient(purple,blue);
  border-radius: 5px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: center;
}
.telo{
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  padding:20px;
  margin-top: 3px;
  text-align: justify;
}
.potpis{
  text-align:right;
}
