body{
  background-color: #fff;
  font-family: georgia;
}
h3 {
  color:#3b4350;
}

h2{
  color:#f6f31d;
  text-shadow: 0 8px #2d1f0f;
}
.zaglavlje{
  background: linear-gradient(#ada7b1,#43535a);
  border-radius: 25px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}
.telo{
height:80%;
margin: 0 auto;
  background-color: grey;
  color: #fff;
  border-radius: 25px;
  padding:80px;
  margin-top: 25px;
  text-align: justify;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.potpis{
  text-align:right;
  color:#f6f31d;
}
b{
  color: #a6b2e7;
  
}
